<br><br>
<h2 align="center">Customer Selection List </h2>
<hr>

 <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">Customer Selection List</div>
                 <div class="panel-body">
                        
          
                     <div class="col-md-4">
                         <input type="text" class="form-control" placeholder="search..." [(ngModel)]="query">
                     </div>
                 </div>
                 <form [formGroup]="form" (ngSubmit)="submit()">
                 
    
     <table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
         <thead>
             <tr>
                <th></th>
                <th>PO NO</th>
                <th>Customer Name</th>
                <th>Location</th>
                <th>Creation Date</th>
                <th>Priorrity</th>
               
            </tr >
           <!---- <tr *ngFor="let data of customerselectionlist|search:query">
                 <td>
                    <a href="crm/po-entry/{{data.id}}/requester-selection"><span class="glyphicon glyphicon-forward" style="color: blue"></span></a>
                </td>-->
                    <tr formArrayName="products" *ngFor="let order of form.controls.products.controls; let i = index">
                        <td>
                           <!----<span class="glyphicon glyphicon-forward" style="color: blue"></span>-->
                           <input type="checkbox" [formControlName]="i"> 
                       </td>
                       <td>{{products[i].PO_NO}}</td>
                       <td>{{products[i].Customer_name}}</td>
                       <td>{{products[i].Location}}</td>
                       <td>{{products[i].Creation_Date}}</td>
                       <td>{{products[i].Priorrity}}</td>
                       
                           <!---- <td>
                              <span class="glyphicon glyphicon-edit" style="color: blue"></span>&nbsp;
                            </td>-->         
                       </tr>
                       <hr>
                         <button class="btn btn-success" style="float: right">Proceed</button>
            
        </thead>
    </table> <br>
    </form>

    </div>
    </div>
    <app-sourcing-header></app-sourcing-header>
<app-sourcing-footer></app-sourcing-footer>

