<br><br>
<h2 align="center">Customer Selection List </h2>
<hr>

 <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">Customer Selection List</div>
                 <div class="panel-body">
                        
          
                     <div class="col-md-4">
                         <input type="text" class="form-control" placeholder="search..." [(ngModel)]="query">
                     </div>
                 </div>                 
    
     <table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
         <thead>
             <tr>
                <th></th>
                <th>PO NO</th>
                <th>Customer Name</th>
                <th>Location</th>
                <th>Creation Date</th>
                <th>Priorrity</th>
               
            </tr >
        </thead>
                <tr>
                    <td>
                         <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;
                         <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                     <td>ui878</td>
                     <td>jay</td>
                     <td>bengaluru</td>
                     <td>24/12/2018</td>
                     <td>shauvik</td>
                     <td>regular</td>
                 </tr>
                 <tr>
                     <td>
                        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;
                         <a href="#"> <span class="glyphicon glyphicon-trash"></span></a>
                     </td>
                     <td>ui878</td>
                     <td>jay</td>
                     <td>bengaluru</td>
                     <td>24/12/2018</td>
                      <td>shauvik</td>
                      <td>regular</td>
                    </tr>
    </table> <br>
 </div>
 </div>

