<br><br>
<h2 align="center">Customer Selection List </h2>
<hr>

 <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">Customer Selection List</div>
                 <div class="panel-body">
                        
          
                     <div class="col-md-4">
                         <input type="text" class="form-control" placeholder="search..." [(ngModel)]="query">
                     </div>
                 </div>
                 
    
     <table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
         <thead>
             <tr>
                <th></th>
                <th>RFP NO</th>
                <th>Customer Name</th>
                <th>Location</th>
                <th>Creation Date</th>
                <th>Key Account Person</th>
                <th>Priorrity</th>
               
            </tr >
           <!---- <tr *ngFor="let data of customerselectionlist|search:query">
                 <td>
                    <a href="crm/po-entry/{{data.id}}/requester-selection"><span class="glyphicon glyphicon-forward" style="color: blue"></span></a>
                </td>-->
                <tr>
                    <a href="#">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                      </a>
                      <a href="#">
                          <span class="glyphicon glyphicon-trash"></span>&nbsp;
                        </a>
                 
                 <td>ui878</td>
                 <td>jay</td>
                 <td>bengaluru</td>
                 <td>24/12/2018</td>
                 <td>shauvik</td>
                 <td>regular</td>
             </tr>
             <tr>
                <a href="#">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                  </a>
                  <a href="#">
                      <span class="glyphicon glyphicon-trash"></span>&nbsp;
                    </a>
             
             <td>ui878</td>
             <td>jay</td>
             <td>bengaluru</td>
             <td>24/12/2018</td>
             <td>shauvik</td>
             <td>regular</td>
         </tr>
         <tr>
            <a href="#">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;
              </a>
              <a href="#">
                  <span class="glyphicon glyphicon-trash"></span>&nbsp;
                </a>
         
         <td>ui878</td>
         <td>jay</td>
         <td>bengaluru</td>
         <td>24/12/2018</td>
         <td>shauvik</td>
         <td>regular</td>
     </tr>
     <tr>
        <a href="#">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;
          </a>
          <a href="#">
              <span class="glyphicon glyphicon-trash"></span>&nbsp;
            </a>
     
     <td>ui878</td>
     <td>jay</td>
     <td>bengaluru</td>
     <td>24/12/2018</td>
     <td>shauvik</td>
     <td>regular</td>
 </tr>
 <tr>
    <a href="#">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;
      </a>
      <a href="#">
          <span class="glyphicon glyphicon-trash"></span>&nbsp;
        </a>
 
 <td>ui878</td>
 <td>jay</td>
 <td>bengaluru</td>
 <td>24/12/2018</td>
 <td>shauvik</td>
 <td>regular</td>
</tr>
<tr>
    <a href="#">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;
      </a>
      <a href="#">
          <span class="glyphicon glyphicon-trash"></span>&nbsp;
        </a>
 
 <td>ui878</td>
 <td>jay</td>
 <td>bengaluru</td>
 <td>24/12/2018</td>
 <td>shauvik</td>
 <td>regular</td>
</tr>
<tr>
    <a href="#">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;
      </a>
      <a href="#">
          <span class="glyphicon glyphicon-trash"></span>&nbsp;
        </a>
 
 <td>ui878</td>
 <td>jay</td>
 <td>bengaluru</td>
 <td>24/12/2018</td>
 <td>shauvik</td>
 <td>regular</td>
</tr>
<tr>
    <a href="#">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;
      </a>
      <a href="#">
          <span class="glyphicon glyphicon-trash"></span>&nbsp;
        </a>
 
 <td>ui878</td>
 <td>jay</td>
 <td>bengaluru</td>
 <td>24/12/2018</td>
 <td>shauvik</td>
 <td>regular</td>
</tr>
<tr>
    <a href="#">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;
      </a>
      <a href="#">
          <span class="glyphicon glyphicon-trash"></span>&nbsp;
        </a>
 
 <td>ui878</td>
 <td>jay</td>
 <td>bengaluru</td>
 <td>24/12/2018</td>
 <td>shauvik</td>
 <td>regular</td>
</tr>
<tr>
    <a href="#">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;
      </a>
      <a href="#">
          <span class="glyphicon glyphicon-trash"></span>&nbsp;
        </a>
 
 <td>ui878</td>
 <td>jay</td>
 <td>bengaluru</td>
 <td>24/12/2018</td>
 <td>shauvik</td>
 <td>regular</td>
</tr>
<tr>
    <a href="#">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;
      </a>
      <a href="#">
          <span class="glyphicon glyphicon-trash"></span>&nbsp;
        </a>
 
 <td>ui878</td>
 <td>jay</td>
 <td>bengaluru</td>
 <td>24/12/2018</td>
 <td>shauvik</td>
 <td>regular</td>
</tr>
            
        </thead>
    </table> <br>

    </div>
    </div>
