
<br>
<br>
<h2>Sourcing-Customer-Cpo-Pending-Details</h2>
 <div class="col-md-offset-0 col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading text-center"> Sourcing-Customer-Cpo-Pending-Details</div>
                 <div class="panel-body">
                     <div class="col-md-4">
                         <input type="text" class="form-control" placeholder="search..." [(ngModel)]="query">
                     </div>
                 </div>
    
             <table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
                 <thead>
                               <tr>
                                    <th></th>
                                    <th>Product name</th>
                                    <th>Description</th>
                                    <th>Model</th>
                                    <th>Brand</th>
                                    <th>Part No</th>
                                    <th>Product Code</th>
                                    <th>Hsn code</th>
                                    <th>gst</th>
                                    <th>UOM</th>
                                    <th>Price</th>
                                    <th>Product detail</th>
                                    <th>Quantity</th>
                                </tr >

                                <tr >
                                            <td><span class="glyphicon glyphicon-forward" style="color: blue"></span></td>
                                            <td> vinay </td>
                                            <td>yes </td>
                                            <td> 2019</td>
                                            <td>brand</td>
                                            <td>2548 </td>
                                            <td>656 </td>
                                            <td> 222</td>
                                            <td>18 </td>
                                            <td>023 </td>
                                            <td> 300</td>
                                            <td> 300</td>
                                            <td> 300</td>
                                </tr>
                                
                                <tr >
                                  <td><span class="glyphicon glyphicon-forward" style="color: blue"></span></td>
                                  <td> vinay </td>
                                  <td>yes </td>
                                  <td> 2019</td>
                                  <td>brand</td>
                                  <td>2548 </td>
                                  <td>656 </td>
                                  <td> 222</td>
                                  <td>18 </td>
                                  <td>023 </td>
                                  <td> 300</td>
                                  <td> 300</td>
                                  <td> 300</td>
                               </tr>
                      
                               <tr >
                                        <td><span class="glyphicon glyphicon-forward" style="color: blue"></span></td>
                                        <td> vinay </td>
                                        <td>yes </td>
                                        <td> 2019</td>
                                        <td>brand</td>
                                        <td>2548 </td>
                                        <td>656 </td>
                                        <td> 222</td>
                                        <td>18 </td>
                                        <td>023 </td>
                                        <td> 300</td>
                                        <td> 300</td>
                                         <td> 300</td>
                               </tr>
                             
                               
                 </thead>
              </table> <br>
         </div>
 
      

       <p align="right">
        <input type="button"  class="btn btn-success" value="Release Po" /> <!--align right side button release Po-->
      </p>

 </div>
 <app-sourcing-header></app-sourcing-header>
 <app-sourcing-footer></app-sourcing-footer>
 
  
    
   

    
  