<app-crm-header></app-crm-header>
<br><br><br>
<div class="col-md-offset-4 col-md-4">  <!--table fields-->
    <div class="well">
      <h2 align="center"> Vpo Approval info </h2>
      <hr>
     <form>
         <div class="form-group">
            
            <label class="form-input" for="billingaddress"> Billingaddress</label>
            <input type="text" class="form-control" id="billingaddress" value="{{billing_address}}" name="billingaddress" [(ngModel)]="model.billingaddress"
             required 
             #billingaddress="ngModel">
             <span *ngIf="billingaddress.touched && billingaddress.invalid" class="help-block">billingaddress can't be blank</span>

            <label class="form-input" for="shippingaddress"> Shippingaddress</label>
             <input type="text" class="form-control" id="shippingaddress" value="{{shipping_address}}" name="shippingaddress" [(ngModel)]="model.shippingaddress"
              required 
              #shippingaddress="ngModel">
              <span *ngIf="shippingaddress.touched && shippingaddress.invalid" class="help-block">shippingaddress can't be blank</span>

            <label class="form-input" for="deliverydate">Delivery date</label>
            <input type="date" class="form-control" id="deliverydate"  name="deliverydate" [(ngModel)]="model.deliverydate"
                  required 
            #deliverydate="ngModel">
            <span *ngIf="deliverydate.touched && deliverydate.invalid" class="help-block">delivery date can't be blank</span><br>

            <label class="form-input" for="quotationreference">Quotation Reference</label>
            <input type="text" class="form-control" id="quotationreference"  name="quotationreference" [(ngModel)]="model.quotationreference"
                  required 
            #quotationreference="ngModel">
            <span *ngIf="quotationreference.touched && quotationreference.invalid" class="help-block">quotatio reference can't be blank</span><br>




            <label class="form-input" for="incoterm">Incoterm</label>
             <input type="text" class="form-control" id="incoterm" value="{{inco_term}}" name="incoterm" [(ngModel)]="model.incoterm"
              required 
              #incoterm="ngModel">
              <span *ngIf="incoterm.touched && incoterm.invalid" class="help-block">incoterm can't be blank</span>
            
            <label class="form-input" for="paymentterm"> Payment term</label>
            <input type="text" class="form-control" id="paymentterm" value="{{payment_term}}" name="paymentterm" [(ngModel)]="model.paymentterm"
                  required 
              #paymentterm="ngModel">
              <span *ngIf="paymentterm.touched && paymentterm.invalid" class="help-block">paymentterm can't be blank</span>




            <label class="form-input" for="advancepersentage">Advance Persentage</label>
            <input type="number"  class="form-control" id="advancepersentage" value="{{advance_persentage}}" name="advancepersentage" [(ngModel)]="model.advancepersentage"
                  required 
              #advancepersentage="ngModel">
            
            <span *ngIf="advancepersentage.touched && advancepersentage.invalid" class="help-block">advancepersentage can't be blank</span>
  

            <!--  <label class="form-input" for="address"> Address</label>
              <input type="text" class="form-control" id="address" value="{{address}}" name="address" [(ngModel)]="model.address"
                required 
               #address="ngModel">
              <span *ngIf="address.touched && address.invalid" class="help-block">address can't be blank</span>


            <label class="form-input" for="city"> City</label>
             <input type="text" class="form-control" id="city" value="{{city}}" name="city" [(ngModel)]="model.city"
              required 
              #city="ngModel">
              <span *ngIf="city.touched && city.invalid" class="help-block">city can't be blank</span>
 

               
               <label class="form-input" for="state">State <a style="color: red">*</a></label>
               <select class="form-control" id="state" name="state" required>
               <option></option>
               <option>Karnataka</option>
               <option>Andhara Predesh</option>
               <option>Punjab</option>
               <option>Tamilnadu</option>
               <option>Telangena</option>
               <option>Arunachal Pradesh</option>
               <option>Assam</option>
               <option> Bihar</option>
               <option> Chhattisgarh</option>
               <option> Goa</option>
               <option>Gujarat</option>
               <option>Haryana</option>
               <option>Himachal Pradesh </option>
               <option>Jammu and Kashmir</option> 
               <option>Jharkhand</option>
               <option> Kerala</option>
               <option>Madhya Pradesh</option>
               <option> Maharashtra </option>
               <option>Manipur</option>
               <option>Meghalaya</option>
               <option>Mizoram</option>
               <option>Nagaland</option>
               <option>Orissa</option>
               <option>Punjab </option>
               <option>Sikkim</option>
               <option>Tripura</option>
               <option>Uttar Pradesh</option>
               <option>Uttarakhand</option>
               <option>West Bengal</option>
              

               </select>


               <label class="form-input" for="pin"> Pin</label>
               <input type="text" class="form-control" id="pin" value="{{pin}}" name="pin" [(ngModel)]="model.pin"
                required 
                #pin="ngModel">
                <span *ngIf="pin.touched && pin.invalid" class="help-block">pin can't be blank</span>

               <label class="form-input" for="country"> Country</label>
                <input type="text" class="form-control" id="country" value="{{country}}" name="country" [(ngModel)]="model.country"
                 required 
                 #country="ngModel">
                 <span *ngIf="country.touched && country.invalid" class="help-block">country can't be blank</span>

               <label class="form-input" for=" officeemail1">  Office-Emai-1</label>
                 <input type="text" class="form-control" id="officeemail1" value="{{officeemail1}}" name="officeemail1" [(ngModel)]="model.officeemail1"
                  required 
                  #officeemail1="ngModel">
                  <span *ngIf="officeemail1.touched && officeemail1.invalid" class="help-block">officeemail can't be blank</span>

                 <label class="form-input" for=" officeemail2">  Office-Emai-2</label>
                 <input type="text" class="form-control" id="officeemail2" value="{{officeemail2}}" name="officeemail2" [(ngModel)]="model.officeemail2"
                  required 
                  #officeemail2="ngModel">
                  <span *ngIf="officeemail2.touched && officeemail2.invalid" class="help-block">officeemail2 can't be blank</span>
     
                 <label class="form-input" for=" officephone1">  Office-Phone-1</label>
                  <input type="text" class="form-control" id="officephone1" value="{{officephone1}}" name="officephone1" [(ngModel)]="model.officephone1"
                   required 
                   #officephone1="ngModel">
                  <span *ngIf="officephone1.touched && officephone1.invalid" class="help-block">Office-Phone-1 can't be blank</span>

                 <label class="form-input" for=" officephone2">  Office-Phone-2</label>
                  <input type="text" class="form-control" id="officephone2" value="{{officephone2}}" name="officephone2" [(ngModel)]="model.officephone2"
                   required 
                   #officephone2="ngModel">
                   <span *ngIf="officephone2.touched && officephone2.invalid" class="help-block">Office-Phone-2 can't be blank</span>
      
                 <label class="form-input" for="gst">  Gst</label>
                   <input type="text" class="form-control" id="gst" value="{{gst}}" name="gst" [(ngModel)]="model.gst"
                    required 
                    #gst="ngModel">
                    <span *ngIf="gst.touched && gst.invalid" class="help-block">gst can't be blank</span>
      
                 <label class="form-input" for="paymentterm"> Payment term</label>
                    <input type="text" class="form-control" id="paymentterm" value="{{payment_term}}" name="paymentterm" [(ngModel)]="model.paymentterm"
                     required 
                     #paymentterm="ngModel">
                     <span *ngIf="paymentterm.touched && paymentterm.invalid" class="help-block">paymentterm can't be blank</span>
       
                 <label class="form-input" for="advancepersentage">  Advance Persentage</label>
                     <input type="text" class="form-control" id="advancepersentage" value="{{advance_persentage}}" name="advancepersentage" [(ngModel)]="model.advancepersentage"
                      required 
                      #advancepersentage="ngModel">
                      <span *ngIf="advancepersentag.touched && advancepersentag.invalid" class="help-block">advancepersentag can't be blank</span>
        
   


                  <label class="form-input" for="PoNo"> PO No <a style="color: red">*</a></label>
                  <input type="text" class="form-control" id="PoNo" name="PoNo" [(ngModel)]="model.PoNo"
                  required 
                  #PoNo="ngModel">
                  <span *ngIf="PoNo.touched && PoNo.invalid" class="help-block">PoNo can't be blank</span><br>-->


            <!--<label class="form-input" for="date">Po Date</label>
                  <input type="date" class="form-control" id="date" name="date" [(ngModel)]="model.date"
                  required 
                  #date="ngModel">
                  <span *ngIf="date.touched && date.invalid" class="help-block">Date can't be blank</span><br>-->
                
         </div>
          <hr>
          <button routerLink=" #" type="button" class="btn btn-success">Submit</button>&nbsp;
          <button type="button" class="btn btn-danger">Cancel</button>
     </form>
 <div>
</div>
</div>
<app-crm-footer></app-crm-footer>   

























































































































































































