<div class="col-md-offset-4 col-md-4">  <!--table fields-->
  <div class="well">
    <h2 align="center"> Sales PO Approval Supporting info</h2>
    <hr>
    <form>
      <div class="form-group">
          <label class="form-input" for="po-no">Customer PO-No: </label>
          <br>
          <label class="form-input" for="name">Customer Name:</label>
          <br>
          <label class="form-input" for="date">PO-Date:</label>
          <br>
          <label class="form-input" for="Deliverydate">Delivery Date:</label>
         <br>
          <label class="form-input" for="requestor">Requestor:</label>
        <br>
      </div>
        <hr>
        <button type="button" class="btn btn-success">Approval</button>&nbsp;
        <button type="button" class="btn btn-danger">Reject</button>
    </form>
  <div>
</div>
</div>
<app-sales-header></app-sales-header>
<app-sales-footer></app-sales-footer>