
<br>
<br>
 <h2> Sales Po Approval List </h2>
   <div class="col-md-offset-0 col-md-12">
     <div class="panel panel-primary">
         <div class="panel-heading text-center"> Sales Po Approval List</div>
                 <div class="panel-body">
                     <div class="col-md-4">
                      <input type="text" class="form-control" placeholder="search..." [(ngModel)]="query">
                     </div>
                 </div>
                <table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
                   <thead>
                     <tr>
                        <th></th>
                        <th>id</th>
                        <th>name</th>
                        <th>location</th>
                        <th>code</th>
                        <th>address</th>
                        <th>city</th>
                        <th>state</th>
                        <th>pin</th>
                        <th>country</th>
                        <th>office email1</th>
                        <th>office email2</th>
                        <th>office phone1</th>
                        <th>office phone2</th>
                        <th>vendor code</th>
                        <th>payment term</th>
                        <th>inco term</th>
                        <th>tax type</th>
                        <th>billing address</th>
                        <th>shipping addres</th>
                        <th>created_at</th>
                        <th>updated_at</th>
                        <th>created_by</th>
                       </tr >
                                         
                     <tr *ngFor="let item of  salesapprovallist">
                          <td>
                             <span class="glyphicon glyphicon-forward" style="color: blue"></span>
                             </td>
                        
                              <td>{{item.id}}</td>
                              <td>{{item.name}}</td>
                              <td>{{item.location}}</td>
                              <td>{{item.code}}</td>
                              <td>{{item.address}}</td>
                              <td>{{item.city}}</td>
                              <td>{{item.state}}</td>
                              <td>{{item.pin}}</td>
                              <td>{{item.country}}</td>
                              <td>{{item.office_email1}}</td>
                              <td>{{item.office_email2}}</td>
                              <td>{{item.office_phone1}}</td>
                              <td>{{item.office_phone2}}</td>
                              <td>{{item.gst_numbe}}</td>
                              <td>{{item.vendor_code}}</td>
                              <td>{{item.payment_term}}</td>
                              <td>{{item.inco_term}}</td>
                              <td>{{item.tax_type}}</td>
                              <td>{{item.billing_address}}</td>
                              <td>{{item.shipping_address}}</td>
                              <td>{{item.created_at}}</td>
                              <td>{{item.updated_at}}</td>
                              <td>{{item.created_by}}</td>                   
                         </tr>
 
                   </thead>
               </table> <br>
       </div>
   </div>
   <app-sales-header></app-sales-header>
   <app-sales-footer></app-sales-footer>
    
   

    
  