<br><br>
<div class="col-md-offset-2 col-md-8">
  <div class="panel panel-primary">
      <div class="panel-heading text-center">PO Rejected Line Item List</div>
           <div class="panel-body">
               <div class="col-md-4">
                   <input type="text" class="form-control" placeholder="search...">
               </div>
           </div>

<table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
   <thead>
       <tr>
          <th></th>
          <th>PO-ID</th>
          <th>Customer name</th>
          <th>Location</th>
          <th>Code</th>
          <th>PO-Date</th>
          <th>Requestor</th>
          <th>PO-Status</th>
        <th></th>
        
      </tr >
      <tr>
           <td>
              <a href="crm/po-entry/1/requester-selection"><span class="glyphicon glyphicon-forward" style="color: blue"></span></a>
          </td>
          
           <td>1</td>
           <td>krupanka</td>
           <td>Bengaluru</td>
           <td>C0021</td>
           <td>01-01-2019</td>
           <td>sdfgh</td>
           <td>ertsyrut</td>
           <td></td>
           
       </tr>
       <tr>
        <td>
           <a href="crm/po-entry/1/requester-selection"><span class="glyphicon glyphicon-forward" style="color: blue"></span></a>
       </td>
       
        <td>2</td>
        <td>Sarika</td>
        <td>Bengaluru</td>
        <td>C0025</td>
        <td>21-01-2019</td>
        <td>fvgfgv</td>
        <td>ertsyrfv</td>
        <td></td>
       
    </tr>
   
      
  </thead>
</table> <br>

</div>
</div>