<br>
<br><br>
<h2 align="center">PO-Entry Selection  Product List </h2>

 <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">PO-Entry Selection  Product List</div>
                 <div class="panel-body">
                    <form #lunchselectedForm="ngForm" (ngSubmit)="lunchselectedlist(event)" class="form-signin">
                    <button type="lunchselectedForm.invalid" class="btn btn-success">Lunch</button>&nbsp;
                    </form>
     
                 </div>
    <!--Table data-->
    
     <table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
         <thead><!--table header-->
             <tr>
                <th></th>
                <th>Product Title</th>
                <th>Description</th>
                <th>Model</th>
                <th>Brand</th> 
                <th>Product Code</th>
                <th>Part No</th>
                <th>Pack Size</th>
                <th>Hsn Code</th>
                <th>GST</th>
                <th>Quantity</th>
                <th>UOM</th>
                <th>Unit Prize</th>
                <th></th>
            </tr >
            <tr>
                
                <td><span class="glyphicon glyphicon-forward" style="color: blue"></span></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td><a href="#"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;
                 <a href="#"> <span class="glyphicon glyphicon-trash"></span></a></td>
             </tr> 
        </thead>
    </table> 
  
    </div>
    </div>
           
    
      
      


