<br>
<br>
<br>
<div class="container">
  <div class="col-md-offset-1 col-md-10">
    <div class="panel panel-primary">
    <div class="panel-heading text-center">Selected Product List</div>
    <div class="panel-body">         
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Model</th>
          <th>Brand</th>
          <th>Part No.</th>
          <th>Product Code</th>
          <th>Price</th>
        </tr>
        <tr>
            <a href="#">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;
              </a>
              <a href="#">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
          <td>ABC</td>
          <td>a ball</td>
          <td>efg</td>
          <td>GHI</td>
          <td>98765</td>
          <td>jd6789</td>
          <td>5678</td>
        </tr>
      </thead>
      </table>
      </div>
      </div>
      </div>
      </div>
      <form align= "center">
      <button class="col-md-offset-1 col-md-10" type="button" class="btn btn-success">Submit</button>&nbsp;
      </form>
     
      


