<app-crm-header></app-crm-header>
<br><br><br>
<div class="col-md-offset-4 col-md-4">  <!--table fields-->
    <div class="well">
      <h2 align="center"> Po-entry Supporting info</h2>
      <hr>
      <form>
        <div class="form-group">
            <label class="form-input" for="Shippingaddress">Shipping-Address   </label>
            <input type="text" class="form-control" id="Shippingaddress" value="{{shipping_address}}"  name="Shippingaddress"
                    [(ngModel)]="model.Shippingaddress"
                    required 
                    #Shippingaddress="ngModel">
            <span *ngIf="Shippingaddress.touched && Shippingaddress.invalid" class="help-block">Shipping-Address can't be blank</span><br>
          

            <label class="form-input" for="Billingaddress">Billing-Address </label>
            <input type="text" class="form-control" id="Billingaddress" value="{{billing_address}}" name="Billingaddress"[(ngModel)]="model.Billingaddress"
            required 
            #Billingaddress="ngModel">
            <span *ngIf="Billingaddress.touched && Billingaddress.invalid" class="help-block">Billing-Address can't be blank</span><br>
            
            <label class="form-input" for="Deliverydate">Delivery Date</label>
            <input type="date" class="form-control" id="Deliverydate" name="Deliverydate" [(ngModel)]="model.Deliverydate"
            required 
            #Deliverydate="ngModel">
            <span *ngIf="Deliverydate.touched && Deliverydate.invalid" class="help-block">Deliverydate can't be blank</span><br>

            <label class="form-input" for="PoNo"> PO No <a style="color: red">*</a></label>
            <input type="text" class="form-control" id="PoNo" name="PoNo" [(ngModel)]="model.PoNo"
            required 
            #PoNo="ngModel">
            <span *ngIf="PoNo.touched && PoNo.invalid" class="help-block">PoNo can't be blank</span><br>


            <label class="form-input" for="date">Po Date</label>
            <input type="date" class="form-control" id="date" name="date" [(ngModel)]="model.date"
            required 
            #date="ngModel">
            <span *ngIf="date.touched && date.invalid" class="help-block">Date can't be blank</span><br>

  
            <label class="form-input" for="incoterm"> Inco term</label>
            <input type="text" class="form-control" id="incoterm" value="{{inco_term}}" name="incoterm" [(ngModel)]="model.incoterm"
             required 
             #incoterm="ngModel">
             <span *ngIf="incoterm.touched && incoterm.invalid" class="help-block">inco-term can't be blank</span>



             <label class="form-input" for="paymentterm"> Payment term</label>
             <input type="text" class="form-control" id="paymentterm" value="{{payment_term}}" name="paymentterm" [(ngModel)]="model.paymentterm"
              required 
              #paymentterm="ngModel">
              <span *ngIf="paymentterm.touched && paymentterm.invalid" class="help-block">paymentterm can't be blank</span>


               


        </div>
          <hr>
          <button routerLink="/crm/po-entry/po12345" type="button" class="btn btn-success">Submit</button>&nbsp;
          <button type="button" class="btn btn-danger">Cancel</button>
      </form>
    <div>
</div>
</div>
<app-crm-footer></app-crm-footer>    
