.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
  .jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.2;
    color: #fff;
    background: #000 url("https://cdn-grid.fotosearch.com/CSP/CSP058/purchase-order-with-blue-pen-in-the-stock-images__k28235826.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}