<app-crm-header></app-crm-header>
<br>
<br>
 <h2>  VPO List </h2>
   <div class="col-md-offset-0 col-md-12">
     <div class="panel panel-primary">
         <div class="panel-heading text-center"> Sales Po Approval List</div>
                 <div class="panel-body">
                     <div class="col-md-4">
                      <input type="text" class="form-control" placeholder="search..." [(ngModel)]="query">
                     </div>
                 </div>
               <table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
                   <thead>
                     <tr>
                        <th></th>
                       <th>ContactPerson Name</th>
                        <th>Phone No.1</th>
                        <th>Phone No.2</th>
                        <th>Email.1</th>
                        <th>Email.2</th>
                       </tr >                     
                       <tr>
                          <td>
                             <span class="glyphicon glyphicon-forward" style="color: blue"></span>
                             </td>
                            <td>1</td>
                            <td>vinay</td>
                            <td>C00124</td> 
                            <td>C00124</td>
                            <td>C00124</td>                   
                       </tr>
                       <tr>
                           <td>
                                 <span class="glyphicon glyphicon-forward" style="color: blue"></span>
                                 </td>      
                                 <td>2</td>
                                 <td>Sarika</td>
                                 <td>C00134</td>  
                                 <td>C00124</td>
                                 <td>C00124</td>                             
                       </tr>
                       <tr>
                          <td>
                             <span class="glyphicon glyphicon-forward" style="color: blue"></span>
                             </td>
                             <td>3</td>
                             <td>vinayrao</td>
                             <td>C00132</td>
                             <td>C00124</td>
                             <td>C00124</td>
        
                        </tr>
                   </thead>
               </table> <br>
       </div>
   </div>
<app-crm-footer></app-crm-footer>
  
    
   

    
  