<app-crm-header></app-crm-header>
<br>
<br>
 <h2>Quotation Selection details</h2>
     <div class="col-md-offset-0 col-md-12">
         <div class="panel panel-primary">
            <div class="panel-heading text-center"> Quotation Selection details</div>
                 <div class="panel-body">
                     <div class="col-md-4">
                         <input type="text" class="form-control" placeholder="search..." [(ngModel)]="query">
                     </div>
                 </div>
    
             <table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Product name</th>
                        <th>Description</th>
                        <th>Model</th>
                        <th>Brand</th>
                        <th>Part No</th>
                        <th>Product Code</th>
                        <th>Hsn code</th>
                        <th>gst</th>
                        <th>UOM</th>
                        <th>Price</th>
                     </tr >

               <tr *ngFor="let item of quotationlist|search:query">
                                <td><span class="glyphicon glyphicon-forward" style="color: blue"></span></td>
                                <td> {{item.name}}</td>
                                <td>{{item.description}}</td>
                                <td>{{item.model}}</td>
                                <td>{{item.brand}}</td>
                                <td>{{item.partno}}</td>
                                <td>{{item.productcode}}</td>
                                <td>{{item.hsncode}}</td>
                                <td>{{item.gst}}</td>
                                <td>{{item.uom}}</td>
                                <td>{{item.price}}</td>
                     </tr>
                    
                 </thead>
              </table> <br>
         </div>
    </div>
<app-crm-footer></app-crm-footer>
  
    
   

    
  