<app-crm-header></app-crm-header>
<br><br><hr>
<div class="col-md-offset-0 col-md-10">
  <div class="panel panel-primary">
      <div class="panel-heading text-center">PO Rejected Details List</div>
           <div class="panel-body">
            <div>
          <form  #submitrejectedpoForm="ngForm" (ngSubmit)="submitrejectedpolist(event)" class="form-sigin"> <button  type="submitrejectedpoForm.invalid" class="btn btn-danger" style="float:right">Delete Rejected PO</button></form>
          <button  routerLink="/crm/crm-po/po-modification/{{cpo_reject_id}}/crm-po-rejected-supporting-edit" class="btn btn-success btn-sm" style="float:left">Edit SuppInfo</button>
        </div><br><br>

<table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
   <thead>
       <tr>
          <th></th>
          <th>Product Title</th>
          <th>Description</th>
          <th>Model</th>
          <th>Brand</th>
          <th>Product Code</th>
          <th>Part No</th>
          <th>Pack Size</th>
          <th> HSN Code</th>
          <th>GST</th>
          <th>Quantity</th>
          <th>UOM</th>
          <th>Unit Price</th>
        <th></th>
        
      </tr >
      <tr *ngFor="let data of porejectlinedetailslist">
           <td>
          <span class="glyphicon glyphicon-forward" style="color: blue"></span>
          </td>
          
          <td>{{data.product_title}}</td>
          <td>{{data.description}}</td>
          <td>{{data.model}}</td>
          <td>{{data.brand}}</td>
          <td>{{data.product_code}}</td>
          <td>{{data.part_no}}</td>
          <td>{{data.pack_size}}</td>
          <td>{{data.hsn_code}}</td>
          <td>{{data.gst}}</td>
          <td>{{data.quantity}}</td>
          <td>{{data.uom}}</td>
          <td>{{data.unit_price}}</td>
          <td> <a href="crm/po-modification/{{cpo_reject_id}}/cpo-rejected-details/{{data.id}}/crm-po-rejected-lineitem-edit"><span class="glyphicon glyphicon-edit"></span></a></td>      
       </tr>
      
      
  </thead>
</table> <br>
<form  #submitmarkresolvepoForm="ngForm" (ngSubmit)="submitmarkresolvepolist(event)" class="form-sigin"> <button  type="submitmarkresolvepoForm.invalid" class="btn btn-primary" style="float:left">Mark Resolve</button></form>
</div>
</div>
</div>
<app-crm-footer></app-crm-footer>
          