<app-crm-header></app-crm-header>
<br><br><hr>
<div class="col-md-offset-0 col-md-10">
  <div class="panel panel-primary">
      <div class="panel-heading text-center">PO Rejected Details List</div>
           <div class="panel-body">
            <div>
            <!---Rejected PO Model start-->
       <button class="btn btn-danger" style="float:right" data-toggle="tooltip" title="Deleted Reject PO" (click)="openAcceptedModalDialog()">Rejecte PO</button>
          <div class="backdrop" [ngStyle]="{'display' :accepted_display}"></div>
              <div class="modal" tabindex="-1" role="dailog" [ngStyle]="{'display':accepted_display}">
                          <!--modal-dialog-->
                       <div class="modal-dialog" role="document">
                           <!--modal-conent-->
                          <div class="modal-content">
                          <!--modal-header-->
                                <div class="modal-header">
                                     <button type="button" class="close" (click)="closeAcceptedModalDialog()">&times;</button>
                                      <h4 class="modal-title">Warning <span class="glyphicon glyphicon-fire"></span></h4>
                                </div>
                                <div class="modal-body">
                                   <p>Do you really want to Rejected PO ?</p>
                            </div>
                       
                                <div class="modal-footer">
                                   <button routerLink="/crm/crm-po/po-modification/crm-po-rejected-list" class="btn btn-success" (click)="submitrejectedpolist(event)">Confirm</button>&nbsp;
                                    <button type="button" class="btn btn-danger" (click)="closeAcceptedModalDialog()">Cancel</button>
                              </div>
                       </div>
                    </div>
                 </div>
              <!--END Rejected PO -->
          <button  routerLink="/crm/crm-po/po-modification/{{cpo_reject_id}}/crm-po-rejected-supporting-edit" class="btn btn-success btn-sm" style="float:left">Edit SuppInfo</button>
        </div><br><br>

<table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
   <thead>
       <tr>
          <th></th>
          <th>Product Title</th>
          <th>Description</th>
          <th>Model</th>
          <th>Brand</th>
          <th>Product Code</th>
          <th>Part No</th>
          <th>Pack Size</th>
          <th> HSN Code</th>
          <th>GST</th>
          <th>Quantity</th>
          <th>UOM</th>
          <th>Unit Price</th>
        <th></th>
        
      </tr >
      <tr *ngFor="let data of porejectlinedetailslist">
           <td>
          <span class="glyphicon glyphicon-forward" style="color: blue"></span>
          </td>
          
          <td>{{data.product_title}}</td>
          <td>{{data.description}}</td>
          <td>{{data.model}}</td>
          <td>{{data.brand}}</td>
          <td>{{data.product_code}}</td>
          <td>{{data.part_no}}</td>
          <td>{{data.pack_size}}</td>
          <td>{{data.hsn_code}}</td>
          <td>{{data.gst}}</td>
          <td>{{data.quantity}}</td>
          <td>{{data.uom}}</td>
          <td>{{data.unit_price}}</td>
          <td> <a href="crm/po-modification/{{cpo_reject_id}}/cpo-rejected-details/{{data.id}}/crm-po-rejected-lineitem-edit"><span class="glyphicon glyphicon-edit"></span></a></td>      
       </tr>
      
      
  </thead>
</table> <br>
<!-- MARK Resolve the PO-->
<button class="btn btn-success" style="float:left" data-toggle="tooltip" title="Mark Resolve PO" (click)=" openRejectedModalDialog()">Resolve</button>
<div class="backdrop" [ngStyle]="{'display' : rejected_display}"></div>
    <div class="modal" tabindex="-1" role="dailog" [ngStyle]="{'display': rejected_display}">
                <!--modal-dialog-->
             <div class="modal-dialog" role="document">
                 <!--modal-conent-->
                <div class="modal-content">
                <!--modal-header-->
                      <div class="modal-header">
                           <button type="button" class="close" (click)=" closeRejectedModalDialog()">&times;</button>
                            <h4 class="modal-title">Warning <span class="glyphicon glyphicon-fire"></span></h4>
                      </div>
                      <div class="modal-body">
                         <p>Do you really want to Mark Resolve PO ?</p>
                  </div>
             
                      <div class="modal-footer">
                         <button routerLink="/crm/crm-po/po-modification/crm-po-rejected-list" class="btn btn-success" (click)= submitmarkresolvepolist(event)>Confirm</button>&nbsp;
                          <button type="button" class="btn btn-danger" (click)="closeRejectedModalDialog()">Cancel</button>
                    </div>
             </div>
          </div>
       </div>
</div>
</div>
</div>
<app-crm-footer></app-crm-footer>
          