<br>
<br>
<br>
<div class="container">
  <div class="col-md-offset-0 col-md-12">
    <div class="panel panel-primary">
    <div class="panel-heading text-center">CRM PO Rejected Details</div>
    <div class="panel-body">         
    <table class="table">
      <thead>
        <tr>
          
          <th></th>  
          <th>Product Name</th>
            <th>Description</th>
            <th>Model</th>
            <th>Brand</th>
            <th>Part No.</th>
            <th>Product Code</th>
            <th>Price</th>
            <th>HSN Code</th>
            <th>GST</th>
            <th>Quantity</th>
            <th>UOM</th>
            <th>Price per Unit</th>
        </tr>
        <tr>
            <a href="#">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;
              </a>
              <a href="#">
                  <span class="glyphicon glyphicon-trash"></span>&nbsp;
                </a>
                <td>874yt2</td>
                <td>ABC</td>
                <td>a ball</td>
                <td>efg</td>
                <td>GHI</td>
                <td>98765</td>
                <td>jd6789</td>
                <td>5678</td>
                <td>5353</td>
                <td>18%</td>
                <td>34</td>
                <td>1</td>
        </tr>
      </thead>
      </table>
      </div>
      </div>
      </div>
      </div>
      <!----<form align= "center">
      <button class="col-md-offset-1 col-md-10" type="button" class="btn btn-success">Submit</button>&nbsp;
      </form>-->
     
      



