
<br><br>
<h2 align="center">VPO Approval Details List </h2>
<hr>
 <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">VPO Approval Details List </div>
                 <div class="panel-body">
                     
                 </div>
    
     <table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
         <thead>
             <tr>
              <th></th>
              <th>Product Name</th>
              <th>Description</th>
              <th>Model</th>
              <th>Brand</th>
              <th>Part No</th>
              <th>Product No</th>
              <th>HSN Code</th>
              <th>Quantity</th>
              <th>UOM</th>
              <th>Price</th>
              <th>GST</th>
              <th></th>
            </tr >
            <tr>
                 <td>
                    <span class="glyphicon glyphicon-forward" style="color: blue"></span>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td> 
             </tr><br>&nbsp;
             <button class="btn btn-success">submit</button>
            
        </thead>
    </table> <br>

    </div>
    </div>
 
   
    
   

    
  