<app-crm-header></app-crm-header>
<br>
<br>
 <h2>  Crm-Po-Rejected-List </h2>
   <div class="col-md-offset-0 col-md-12">
     <div class="panel panel-primary">
         <div class="panel-heading text-center"> Crm-Po-Rejected-List</div>
                 <div class="panel-body">
                     <div class="col-md-4">
                      <input type="text" class="form-control" placeholder="search..." [(ngModel)]="query">
                     </div>
                 </div>
                <table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
                   <thead>
                     <tr>
                        <th></th>
                        <th>Customer Name</th>
                        <th>Customer-contact-Person Name</th>
                        <th>Customer-contact-Person Mobile No 1</th>
                        <th>Customer-Po-No</th>
                        <th>Customer-Po-Date</th>
                        <th></th>
                       </tr >
                                         
                     <tr *ngFor="let data of porejectedlist">
                          <td>
                          <a href="crm/crm-po/po-mdification/{{data.id}}/crm-po-rejected-details" > <span class="glyphicon glyphicon-forward" style="color: blue"></span></a>
                             </td>
                        
                             <td>{{data.customer.name}}</td>
                             <td>{{data.customer_contact_person.name}}</td>
                             <td>{{data.customer_contact_person.mobileNo1}}</td>
                             <td>{{data.customer_po_no}}</td>
                             <td>{{data.customer_po_date}}</td>
                              <td></td>
                              
                         </tr>
                   </thead>
               </table> <br>
       </div>
   </div>
<app-crm-footer></app-crm-footer>
  
    
   

    
  
