<br><hr><br>
<h2 align="center"> grn  traditional po item list with edit </h2>
<div class="col-md-offset-0 col-md-12">
   <div class="panel panel-primary">
       <div class="panel-heading text-center"> Traditional po item list with edit </div>
               <div class="panel-body">
                    <!--<a href="#" class="btn btn-info btn-sm" style="float: right"> <span class="glyphicon glyphicon-plus">ADD</span></a>-->

               </div>
              <table id="sourcing1" class="table table-hover table-bordered table-sm" width="100%" >
                 <thead>
                   <tr>
                      <th></th>
                      <th>Product Name</th>
                      <th>Description</th>
                      <th>Model</th>
                      <th>Brand</th>
                      <th>Part No</th>
                      <th>Product No</th>
                      <th>HSN Code</th>
                      <th>GST</th>
                      <th>Quantity</th>
                      <th>UOM</th>
                     
                      <th></th>
                    </tr>
                    <tr>
                        <td>
                           <span class="glyphicon glyphicon-pencil" style="color: blue"></span>&nbsp;
                           <input type="checkbox">
                       </td>
                      <td></td>
                      <td></td> 
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      
                       </tr>
                     
                  <tr>
                        <td>
                           <span class="glyphicon glyphicon-pencil" style="color: blue"></span>&nbsp;
                           <input type="checkbox">
                       </td>
                      <td></td>
                      <td></td> 
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                       
                       </tr>
                       <br>
                      &nbsp; <button class="glyphicon glyphicon-pencil btn btn-success" style="float: right">Proceed</button>
                 </thead>
             </table> 
             <br>
     </div>
 </div>
<app-grn-header></app-grn-header>
<app-grn-footer></app-grn-footer>
