<br>
<br>
 <br><br><h2> Vendor Po Details </h2>
   <div class="col-md-offset-0 col-md-12">
     <div class="panel panel-primary">
         <div class="panel-heading text-center"> Vendor Po Details</div>
                 <div class="panel-body">
                     <div class="col-md-4">
                      <input type="text" class="form-control" placeholder="search..." [(ngModel)]="query">
                     </div>
                 </div>
                <table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
                   <thead>
                     <tr>
                        
                        <th>Product Title</th>
                        <th>Product Description</th>
                        <th>Model</th>
                        <th>Brand</th>
                        <th>Catagory</th>
                        <th>Quantity</th>
                        <th>UOM</th>
                        <th>HSN Code</th>
                        <th>Price</th>
                       </tr >
                                         
                     <tr>
                          <!----<td>
                             <span class="glyphicon glyphicon-forward" style="color: blue"></span>
                             </td>-->
                        
                              <td>qwerth</td>
                              <td>jhgfdfgh</td>
                              <td>qwerg</td>
                              <td>asdfgh</td>
                              <td>asdfgh</td>
                              <td>345</td>
                              <td>nos</td>
                              <td>6735</td>
                              <td>456789</td>
                            
                              
                    
                         </tr>

                         <tr>
                                 <!----<td>
                                    <span class="glyphicon glyphicon-forward" style="color: blue"></span>
                                 </td>-->
                           
                                 <td>werty</td>
                                 <td>dfghj</td>
                                 <td>asdfgfg</td>
                                 <td>zxcvbnvbn</td>
                                 <td>cvbncvb</td>
                                 <td>876</td>
                                 <td>nos</td>
                                 <td>83637</td>
                                 <td>6534567</td>
                                
                                
                          </tr>
                            <hr>
                            <button class="btn btn-primary" style="float:left">Mark As In-transit</button>
                   </thead>
               </table> <br>
       </div>
   </div>
   <app-sales-header></app-sales-header>
   <app-sales-footer></app-sales-footer>
