
<br><br>
<hr>
 <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">Quotation-Selection List</div>
                 <div class="panel-body">
                     <div class="col-md-4">
                         <input type="text" class="form-control" placeholder="search...">
                     </div>
                 </div>
                 <form [formGroup]="form" (ngSubmit)="submit()"> <!--1-->
        <table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
             <tr>
                <th></th>
                <th>quotation no</th>
                <th>quotation date</th>
                <th>rfp</th>
                <th>enquiry reference</th>               
            </tr >

<!--2-->    <tr formArrayName="product" *ngFor="let products of form.controls.product.controls; let i = index">
              <td> 
                  <input type="checkbox" [formControlName]="i"> 
              </td>
                 <td>{{product[i].quotation_no}}</td>
                 <td>{{product[i].quotation_date}}</td>
                 <td>{{product[i].rfp}}</td>
                 <td>{{product[i].enquiry_reference}}</td> 
                 <td>
                        <a href="crm/po-entry/{{product[i].quotation_no}}/quotation-selection-details" target="_blank"><span class="glyphicon glyphicon-edit" style="color: blue"></span></a>
                    </td>               
            </tr>
            <hr>
            &nbsp;  <button class="btn btn-danger">Proceed</button>
       </table> <br>

</form>
 </div>
 </div>
    <app-crm-footer></app-crm-footer>
    <app-crm-header></app-crm-header>
    
   

    
  










    